.text-field{
	-fx-background-radius: 0.3em;
	-fx-border-radius: 0.3em;
	-fx-content-display: LEFT;
	-fx-padding: 0.2em 1em;
	
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: primary-background-color;
}

.primary-background .text-field.primary.inverted{
	-fx-border-width: 0;
} 