.charting-view {
	-fx-background-color: rgb(255,255,255);
	-fx-min-width: 0;
	-fx-min-height: 0;
}
.charting-view StackPane, .charting-view .split-pane {
	-fx-background-color: transparent;
	-fx-min-width: 0;
	-fx-min-height: 0;
}

.x-axis, .x-axis .container, .x-axis .filler, .x-axis .axis-info-label, .y-axis .axis-info-label {
	-fx-pref-height: 28px;
	-fx-min-height: 28px;
	-fx-max-height: 28px;
	-fx-height: 28px;
}

.x-axis .axis-info-label{
	-fx-width: 100px;
	-fx-min-width: 100px;
	-fx-max-width: 100px;
	-fx-pref-width: 100px;
}

.x-axis .filler, .y-axis, .y-axis .label, .y-axis .axis-info-label {
	-fx-width: 64px;
	-fx-min-width: 64px;
	-fx-max-width: 64px;
	-fx-pref-width: 64px;
}

.x-axis .label {
	-fx-alignment: center;
}

.y-axis .label {
	-fx-alignment: center-right;
}

.grid-line{
	-fx-stroke: #EFEFEF;
}
.crosshair {
	-fx-stroke: #888888;
	-fx-stroke-dash-array: 5 5;
}
.axis-info-label{
	-fx-text-fill: white;
	-fx-background-color: #333333;
	-fx-height: 14px;
	-fx-pref-height: 14px;
	-fx-min-height: 14px;
	-fx-max-height: 14px;
}
.chart-info-pane{
	-fx-alignment: top-left;
	-fx-padding: 5px 0 0 5px;
}
.plot-info {
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}
.plot-info .button-bar {
	-fx-spacing: 5px;
	-fx-opacity: 0;
}
.plot-info .button-bar:hover{
	-fx-opacity: 1;
}
.plot-info .button-bar .button{
	-fx-background-color: transparent;
	-fx-border-width: 0;
}
.plot-info .button-bar .button:hover{
	-fx-background-color: #d0d0d0;
}
.plot-info .button-bar .button:pressed, .plot-info .button-bar .button:focused{
	-fx-background-color: #b0b0b0;
}
.plot-info-values{
	-fx-spacing: 10px;
	-fx-fill-height: true;
	-fx-alignment: center-left;
	-fx-text-alignment: center-left;
}
.plot-info-values HBox {
	-fx-fill-height: true;
	-fx-alignment: center-left;
	-fx-text-alignment: center-left;
}
.plot-info-values .label {
	-fx-alignment: center-left;
}
.plot-name{
	-fx-font-size: 12px;
}
.scrip-name{
	-fx-font-size: 16px;
	-fx-alignment: center-left;
}