.charting-control-buttons{
	-fx-spacing: 20px;
	-fx-opacity: 0;
}
.charting-control-buttons:hover {
	-fx-opacity: 1;
}
.charting-control-button-bar{
	-fx-spacing: 10px;
}
.charting-control-button{
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-background-color: #dddddd;
	-fx-background-radius: 20px;
	-fx-font-size: 16px;
	-fx-font-style: bold;
}