.label{
	-fx-font-size: 12px;
}

.x-axis, .x-axis .container, .x-axis .filler {
	-fx-pref-height: 28px;
	-fx-min-height: 28px;
	-fx-max-height: 28px;
	-fx-height: 28px;
}

.x-axis .filler, .y-axis, .y-axis .label {
	-fx-width: 64px;
	-fx-min-width: 64px;
	-fx-max-width: 64px;
	-fx-pref-width: 64px;
}

.x-axis .label {
	-fx-alignment: center;
}

.y-axis .label {
	-fx-alignment: center-right;
}

.grid-line{
	-fx-stroke: #EFEFEF;
}
.crosshair {
	-fx-stroke: #8A2BE2;
	-fx-stroke-dash-array: 10 5 5 5;
}