.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana";
    text-color: black;
    background-color: white;
    default-text-color: black;
    default-background-color: #888888;
    primary-text-color: black;
    primary-background-color: white;
}

.icon{
	-fx-font-family: 'FontAwesome';
	-fx-padding: 0;
	-fx-width: 25px;
	-fx-pref-width: 25px;
	-fx-min-width: 25px;
	-fx-max-width: 25px;
	-fx-height: 25px;
	-fx-pref-height: 25px;
	-fx-min-height: 25px;
	-fx-max-height: 25px;
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-border-width: 0;
	-fx-background-color: transparent;
}
.label{
	-fx-font-size: 12px;
}

.text-field {
	-fx-background: background-color;
	-fx-border-radius: 0;
	-fx-border-width: 0;
}

.text-field.large{
	-fx-pref-width: 20em;
	-fx-pref-height: 3em;
	-fx-font-size: 16px;
}

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: lightgray ;
    -fx-background-insets: 0;
}

